#root {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    color: #DDDDDD;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    position: relative;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-out, box-shadow 0.1s ease-out, background-color 0.1s ease-out;
    cursor: pointer;
}
.sticker {
    user-select: none;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.sticker.front {
    background-color: #56C4BE;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 0;
}
.sticker.back {
    height: 100%;
    transform: rotateY(180deg);
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
    img {
        height: 100%;
    }
}
header {
    display: flex;
    justify-content: flex-end;
    img {
        width: 25%;
        /* filter: drop-shadow(0 0 2px #ffffff); */
    }
}
center {
    svg {
        position: absolute;
        width: 65%;
    }
    img {
        position: absolute;
    }
    .photo {
        top: -2%;
        left: 10%;
        /* width: 40%; */
        height: 80%;
        /* object-fit: cover; */
    }
    .uniform {
        top: 0;
        left: 0;
        width: 100%;
    }
    .two {
        top: 3%;
        left: 4%;
    }
    .six {
        top: 22%;
        left: 30%;
    }
}
footer {
    padding: .5rem;
    .character, .team span {
        border-radius: 5rem 5rem 0rem 5rem;
        padding: .25rem;
        margin: 0 .25rem;
        background-color: #3A8785;
    }
    .player {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: flex-end;
        .character {
            width: 100%;
            margin-bottom: .25rem;
            font-size: 0.8rem;
            .name {
                font-size: 1.1rem;
                font-weight: bold;
            }
        }
        .country {
            width: 18%;
            color: transparent;
            .code {
                -webkit-text-stroke: 1px #ffffff;
                letter-spacing: -.6rem;
                font-size: 3rem;
                font-weight: bold;
                font-family: 'Bebas Neue', sans-serif;
                writing-mode: vertical-rl;
                text-orientation: upright;
            }
            .flag {
                height: 2.8rem;
                width: 2.8rem;
                margin: 0 auto;
                display: inline-block;
                border: 2px solid #ffffff;
                border-radius: 5rem 5rem 0rem 5rem;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .team {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
        font-size: .8rem;
        span {
            height: 1rem;
            width: 100%;
        }
        img {
            height: 1.2rem;
            width: 6rem;
            object-fit: cover;
            object-position: inherit;
        }
    }
    z-index: 3;
}